:root {
  --first-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --background-hero: #2F303A;
  --background-command: #f5f4fa;
  --active-modal-button: #188ce8;
  --navigation-color: #212121;
  --main-color: #ffffff;
  --light-theme: #000000;
  --tel-color: #757575;
  --contact-link: rgba(255, 255, 255, 0.6);
  --border-color: #EEEEEE;
  --icon-color: #AFB1B8;
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--first-font);
  background: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.link.current {
  color: var(--accent-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.logo {
  margin-right: 93px;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo_light-theme {
  color: var(--light-theme);
}

.logo_dark-theme {
  color: var(--main-color);
}

.logo__accent {
  color: var(--accent-color);
}

.title {
  margin-bottom: 50px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--navigation-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-animation), visibility var(--transition-animation), pointer-events var(--transition-animation);
  transition: opacity var(--transition-animation), visibility var(--transition-animation), pointer-events var(--transition-animation);
}

.modal-backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-backdrop__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-backdrop__button-escape {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;
  fill: var(--light-theme);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--navigation-color);
}

.modal-title__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-title__field {
  margin-bottom: 10px;
  font-family: var(--first-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--tel-color);
}

.modal-title__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-title__list-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-title__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill var(--transition-animation);
  transition: fill var(--transition-animation);
}

.modal-title__form-comment {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-title__form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  -webkit-transition: border-color var(--transition-animation);
  transition: border-color var(--transition-animation);
}

.modal-title__form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-title__form-input:focus + .modal-title__icon {
  fill: var(--accent-color);
}

.modal-title__form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: border-color var(--transition-animation);
  transition: border-color var(--transition-animation);
}

.modal-title__form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-title__form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-title__form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-title__form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-title__form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-title__form-check-desc {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-family: var(--first-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tel-color);
}

.modal-title__form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  cursor: pointer;
  margin-right: 8px;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title__form-term:focus + .modal-title__form-check-desc::before {
  -webkit-box-shadow: var(--accent-color);
          box-shadow: var(--accent-color);
}

.modal-title__form-term:checked + .modal-title__form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  outline: none;
  background-size: 100%;
  background-repeat: no-repeat;
}

.modal-title__form-btn {
  padding: 10px 56px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), box-shadow var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation);
  transition: background-color var(--transition-animation), box-shadow var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  background: var(--accent-color);
}

.modal-title__form-btn:hover, .modal-title__form-btn:focus {
  background-color: var(--active-modal-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
}

.header {
  background-color: lime;
}

.menu {
  display: none;
}

.contact-list {
  display: none;
}

.hero {
  padding: 200px 0;
  background-color: var(--background-hero);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

.modal-button {
  padding: 10px 32px;
  display: block;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), box-shadow var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation);
  transition: background-color var(--transition-animation), box-shadow var(--transition-animation), border-radius var(--transition-animation), color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  background: var(--accent-color);
}

.modal-button:hover, .modal-button:focus {
  background-color: var(--active-modal-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
}

.about {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.about-list__item {
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
}

.about-list .about-list__title {
  margin-bottom: 10px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navigation-color);
}

.about-list__thumb {
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--background-command);
  border-radius: 4px;
}

.about-list__subtitle {
  font-family: var(--first-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--tel-color);
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list__images {
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 3 -30px);
      flex-basis: calc(100% / 3 -30px);
}

.work-list__content {
  position: relative;
}

.work-list__caption {
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--main-color);
  background: rgba(47, 48, 58, 0.8);
}

.command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-command);
}

.command > .title {
  margin-bottom: 44px;
}

.command-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.command-list__frame {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list__worker {
  margin-bottom: 10px;
  font-family: var(--first-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--navigation-color);
}

.command-list__profession {
  margin-bottom: 14px;
  font-family: var(--first-font);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tel-color);
}

.command-list__name {
  padding: 30px;
  width: 270px;
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.social-media-icons__item:not(:first-child) {
  margin-left: 10px;
}

.social-media-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition-animation), background-color var(--transition-animation);
  transition: color var(--transition-animation), background-color var(--transition-animation);
}

.social-media-icons__link:hover, .social-media-icons__link:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.social-media-icons__team-icon {
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.clients-list__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  -webkit-transition: fill var(--transition-animation);
  transition: fill var(--transition-animation);
  fill: #afb1b8;
}

.clients-list__item:hover, .clients-list__item:focus {
  fill: var(--accent-color);
}

.clients-list__link {
  -ms-flex-preferred-size: calc(100% / 6 - 30px);
      flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 50px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color var(--transition-animation);
  transition: border-color var(--transition-animation);
}

.clients-list__link:hover,
.clients-list__icon .clients-list__link:focus,
.clients-list__link .clients-list__icon {
  border-color: var(--active-modal-button);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--background-hero);
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.society__item:not(:last-child) {
  margin-bottom: 9px;
}

.society__link {
  display: inline-block;
  font-family: var(--first-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  -webkit-transition: color var(--transition-animation);
  transition: color var(--transition-animation);
}

.society__link:hover, .society__link:focus {
  color: var(--accent-color);
}

.society__footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--contact-link);
  -webkit-transition: color var(--transition-animation);
  transition: color var(--transition-animation);
}

.society__footer-link:hover, .society__footer-link:focus {
  color: var(--accent-color);
}

.icons-wrapper {
  margin-left: 70px;
}

.icons__join {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons__item {
  margin-right: 10px;
}

.icons__item:not(:last-child) {
  margin-right: 10px;
}

.icons__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--transition-animation);
  transition: background-color var(--transition-animation);
  fill: var(--main-color);
  background: rgba(255, 255, 255, 0.1);
}

.icons__link:hover, .icons__link:focus {
  background-color: var(--accent-color);
}

.icons__icon {
  width: 20px;
  height: 20px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.subscribe__title {
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__email-form {
  padding: 15px 16px;
  width: 358px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2F303A;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--first-font);
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  -webkit-transition: border-color var(--transition-animation);
  transition: border-color var(--transition-animation);
  cursor: pointer;
}

.subscribe__email-form::-webkit-input-placeholder {
  font-family: var(--first-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email-form:-ms-input-placeholder {
  font-family: var(--first-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email-form::-ms-input-placeholder {
  font-family: var(--first-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__email-form::placeholder {
  font-family: var(--first-font);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe:focus {
  outline: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  cursor: pointer;
  color: var(--main-color);
  border-radius: 4px;
  border: none;
  padding-left: 29px;
  padding-right: 10px;
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), -webkit-box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), box-shadow var(--transition-animation);
  transition: background-color var(--transition-animation), box-shadow var(--transition-animation), -webkit-box-shadow var(--transition-animation);
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--active-modal-button);
}

.subscribe__telegram {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */